body {
    font-family: "Rubik", sans-serif;
}

.maindiv {
  opacity: 0.9;
}

#background-video-fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
